@charset "UTF-8";

/* Configuração geral do corpo da página */

body {
	margin: 0 auto;
	font-family: "Century Gothic", sans-serif;	
}

header{
height: 120px; /* NOVO */
background-color: #008eb6;
position: -webkit-sticky; /* NOVO */ 
position: sticky; /* NOVO */
top:0px; /* NOVO */
}

section{
clear: both;
min-height: 460px;
width: 100%;
margin-top: 0px;

}

footer {
background: #005f89;
color: #fff;
text-align: center;
padding:10px;
}

header img{
float: left;
height: 100px; /* NOVO */
width: 100px; /* NOVO */
margin: 10px;
}

header h1{
float: left;
margin: 30px 0 15px 30px; /* NOVO */
font-size: 40px; /* NOVO */
color: #ffff;
}

nav{
clear: both;
width: 70%; /* NOVO */
display: inline-block; /* NOVO */
margin: 0px auto;
}
nav a{
font-weight: bold; /* NOVO */ 
letter-spacing: 1px; /* NOVO */ 
text-decoration: none;
text-align: center;
color: white;
}
nav .opcao{
float: left;
color: white;
width: 19%; /* NOVO */
background-color: #005f89;/* NOVO */ 
margin: 0.5%; /* NOVO */
font-weight: bold;
font-size: 16px; /* NOVO */
text-align: center;
}

nav .opcao:hover{
background-color: #83afd3;
}

.dropbtn{
color: white;
}

.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #005f89;
	z-index: 1;
	width: 100%;
}

.dropdown-content a{
	display: block;	
}

#listaProdutos {
	margin-left: 30%;
	margin-top: 5%;
}

#listaMarcas{
	margin-left: 30%;
	margin-top: 5%;
}

.dropdown-content a:hover{
	background-color: #83afd3;
}

.dropdown:hover .dropdown-content {
	display: block;
	
}
/*****					MODAIS					*****/
#modalAviso, .modalEditar{
	display:none;
}

/**************************************************************************
       							LAYOUT CRUDs
****************************************************************************/

/*****					Título da página					*****/

section h2, section h3 {
	text-align: center;
}

/*****					FORMULÁRIOS					*****/

.frmInserir, .frmFiltrar{
	margin: 0px auto;
	margin-bottom: 10px;
	width: min-content;
}
.frmInserir{
	width: 500px;
}
.frmFiltrar{
width: 350px;
}
.frmInserir label {
	width: 200px;
}
.frmInserir input, .frmInserir textarea, .frmInserir select {
	width: 300px;
	padding: 2px 0;
}
.frmInserir textarea {
	height: 100px;
	resize: none;
}

/*****	Tabela de registros	*****/
.listaRegistros {
margin-bottom: 10px;
}
.listaRegistros table {
border: 1px solid #000;
border-collapse: collapse;
margin: 0;
min-width: 50%;
}
.listaRegistros table th {
text-align: center;
font-size: 18px;
font-weight: bold;
color: #fff;
padding: 0 5px;
border: transparent;
}

.frmInserir button, .frmFiltrar button {
	width: 100px;
	margin: 0 1%;
	background-color: #b1ccf5;
	font-weight: bold;
	font-size: 16px;
	float: right;
}
.frmInserir .aviso {
	background-color: #ff0000;
	color: #fff;
	font-weight: bold;
}

.listaRegistros tr, .listaRegistros td, .listaRegistros th {
border: 1px solid #b0c4de;
padding: 0px 5px;
}
.listaRegistros tr, .listaRegistros td{
font-size: 16px;
}
.listaRegistros tr:nth-child(even){
background-color: #b1ccf5;
}
.listaRegistros tr:nth-child(odd){
background-color: #83afd3;
}
.listaRegistros .acoes{
width: 70px;
}
.listaRegistros table img {
padding: 0 5px;
width: 20px;
height: 20px;
cursor: pointer;
}

