body {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Duas colunas: 1 parte com 1x a largura da outra */
    gap:20px;
    padding: 0;
  }
  
  header {
    grid-column: 1 / 3;
    background-color: #f0f0f0;
    /* padding: 20px; */
    text-align: center;
    background-color: black;
    color: white;
    font-family: Merriweather;
  }
  
 #navLinks {
    grid-column: 1;
    background-color: #eee;
    opacity: 80%;
    padding: 20px;
    height: 400px;
    text-align: center;
    padding-top: 150px;
  } 

#outonoInverno{
width: 25%;
}
  .produtos {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Colunas de produtos */
    gap: 20px;
  }
  
  .produto {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Animação de hover */
  }
  
  .produto:hover {
    transform: translateY(-5px); /* Elevação no hover */
  }
  
  footer {
    grid-column: 1 / 3;
    background-color: black;
    color: #fff;
    text-align: center;
    margin-top: 89px;
    height: 10vh;
    padding-top: 20px;  
  }
  #footerIndex{
    
}
  
  /* Layout responsivo para telas menores */
  @media (max-width: 768px) {
    body {
      grid-template-columns: 1fr; /* Uma única coluna para telas menores */
    }
  
    header, nav, .produtos, footer {
      grid-column: 1; /* Todos os elementos ocupam a mesma coluna */
    }
  
    .produtos {
      grid-template-columns: 1fr; /* Uma coluna de produtos para telas menores */
    }
  }