<div id="app">
  <input v-model="novoItem" placeholder="Novo item" />
  <button @click="adicionarItem">Adicionar</button>
  <table border="1">
    <tr>
      <th>Item</th><th>Ação</th>
    </tr>
    <tr v-for="(item, index) in carrinho" :key="index">
      <td>{{ item }}</td>
      <td><button @click="removerItem(index)">Remover</button></td>
    </tr>
  </table>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
createApp({
  data() { return { novoItem: '', carrinho: [] }; },
  methods: {
    adicionarItem() {
      if (this.novoItem) {
        this.carrinho.push(this.novoItem);
        this.novoItem = '';
      }
    },
    removerItem(i) { this.carrinho.splice(i, 1); }
  }
}).mount('#app');
</script>
