* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color:white;
}
main{
    border:none;
}

nav {
    /*clear: both;*/
    width: 100%;
    margin: 0px auto;
    height: 35px;
    background-color: #042A3D;
    color: white;
    margin-top: -4px;
    
}
#navOpcao{
    display: flex;
    justify-content: space-around;
    background-color: #042A3D;
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;

}
header img {
    width: 100%;
    height: 80%;
}
nav > a {
color: #042A3D;
text-decoration: none;
text-align: center;  
color:white;
/*position: 50%;*/
}

header {
    border: none;
}

.opcao {
    
    float:left;
    width: 100%;
    padding: 5px 0;
    margin: 0 1%;
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    /*top:50%;*/
}
nav .opcao:hover{
    font-weight: bold;
}

#linksUteis{
    float:right;
    background-color: #042A3D;
    width: 300px;
    height: auto;
    position:fixed;
    left:80%;
    top:50%;
    text-align: center;
    padding: 0;
    font-size:26px;
    border-radius: 30px 0 0 30px;  /*(Superior esquerda) (Superior direita) (Inferior direita) (Inferior esquerda)*/
    opacity: 80%;
    margin-left: 2%;
}

#linksUteis a {
    background-color: #042A3D;
    color: white;
    border-left: 0.5cm;
}

#linksUteis a:hover{
    font-weight: bold;
}

section{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding: 3cm;
    font-size: 18px;
    text-align: justify;
    width: 30cm;
    box-sizing: border-box;
}


section #junteSeANos{
margin-top: -60px;
margin-bottom: 60px;;
}

section #idPreencha{
    margin-bottom: 50px;
}

#campoNome{
    width: 300px;
    margin-bottom: 30px;
}
form #inputNascimento{
margin-bottom: 30px;
}

form #inputcidade{
    margin-bottom: 30px;
}

main #video{
margin-left: 22%;
}

main #imagemXfiles{
    
    margin-left: 149px;

}

.recuo{
text-indent: 40px;
}



footer {
    background-color: #042A3D;
    height: 40px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    
}

#som {
    float: right;
    left: 75%;
    top:50%;
    
}

#tabelaPsgs{
    text-align: center;
    background-color: black;
    color:white;
    border:1px;
}
#titulosobre{
    text-align: center; 
    /*margin-top: 15px;*/
}




