<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem não Vue, Verá</title>
</head>
<body>
    <div id="app">
        <h1>{{ titulo }}</h1>
        <label for="">Nome</label>
        <input type="text" v-model="nome">
        <br><br>

        <label for="">E-mail</label>
        <input type="text" v-model="email">
        <br><br>

        <button @click="mostraAlert">Enviar</button> <button @click="limpaCampos">Limpar</button>

        <hr>

        <h1>Dados do Formulário</h1>
        nome: {{ nome }} <br>
        email: {{ email }} <br>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                titulo: "Atividade de Vue - Quem Não Vue, Verá!",
                nome: "",
                email: "",
            },
            methods: {
                mostraAlert(){
                    alert(`Dados enviados: \nNome: ${this.nome}\nEmail: ${this.email}`);
                },
                limpaCampos(){
                    this.nome = "";
                    this.email = "";
                }
            }


        })



    </script>
</body>
</html>