<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= message %></h1>

    <h2>Lista de Produtos:</h2>
    <ul>
        <% products.forEach(product => { %>
            <li><strong><%= product.name %></strong> - R$ <%= product.price.toFixed(2) %></li>
        <% }); %>
    </ul>
</body>
</html>
