* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(61, 61, 85);
}

.textoescrito {
  font-family: 'Red Hat Display';
  color: rgb(0, 0, 0);
}
#titulo{
margin-left: 30%;
font-weight: bold;
color:rgb(0,0,0)
}

#container {
  width: 20%;
  padding: 20px;
  
}

#fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px rgb(133, 111, 218);
  background-color: rgb(192, 182, 229);
  border-radius: 8%;
  
}

#fieldset button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100px;
}


